

#main{
  border:1px solid #ddd;
  //width: 1745px;
  //height: 895px;
  width:100%;
  height:100%;
  //background-image: url(/bg.png);
  //background-repeat: no-repeat;
  //background-size: contain;
  //background-position: center;
  position: fixed;
}

.backgroundDiv{
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  max-width: 1015px;
  margin: auto;
  img{
    width:100%;
  }
}
  .title{
    font-size:30px;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
  }


.circle{
  position: absolute;
  width: 8%;
  height: 15%;
  border-radius: 50%;

  &.red{
    background: radial-gradient(ellipse at center, #ffffff29 29%, #f95a5a 100%);
  }
  &.blue{
    background: radial-gradient(ellipse at center, #ffffff29 29%, #6393c1 100%);
  }
  &.green{
//    background-color: rgba(41, 197, 31, 0.2901960784313726);
    background: radial-gradient(ellipse at center, #ffffff29 29%, #2f940d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  .miniFont{
    font-size: 15px;
  }
  .text{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: bold;
    font-size: 1em;
  }
  &.position0{
    display:none;
  }
  &.position1{
    left: 12%;
    bottom: 30%;
  }
  &.position2{
    left: 19%;
    bottom: 45%;
  }
  &.position3{
    left: 28%;
    top: 30%;
  }
  &.position4{
    left: 30%;
    top: 15%;
  }
  &.position5{
    left: 40%;
    top: 20%;
  }
  &.position6{
    left: 50%;
    top: 30%;
  }
  &.position7{
    left: 59%;
    top: 35%;
  }
  &.position8{
    left: 67%;
    top: 40%;
  }
  &.position9{
    right: 16%;
    top: 46%;
  }
  &.position10{
    left: 44%;
    top: 46%;
  }
  &.position11{
    .textDiv{
      height: 25%;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      margin: auto;
      margin-top: 55%;
      transform: translate(0%,-50%);
    }
    left: 33%;
    bottom: 27%;
  }
  &.position12{
    .textDiv{
      height: 25%;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      margin: auto;
      margin-top: 55%;
      transform: translate(0%,-50%);
    }
    left: 42%;
    bottom: 23%;
  }
  &.position13{
    .textDiv{
      height: 25%;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      margin: auto;
      margin-top: 55%;
      transform: translate(0%,-50%);
    }
    right: 29%;
    top: 55%;
  }
  &.position14{
    right: 33%;
    bottom: 16%;
  }
  &.position15{
    right: 22.5%;
    bottom: 10.5%;
  }

}
