#main {
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center; }

.backgroundDiv {
  position: relative;
  top: 50%; }
  .backgroundDiv.widthMode {
    margin: auto;
    transform: translate(0%, -50%); }
    .backgroundDiv.widthMode img {
      width: 100%; }
  .backgroundDiv.heightMode {
    margin: auto;
    height: 100%;
    display: inline-block; }
    .backgroundDiv.heightMode img {
      height: 100%; }

.title {
  font-size: 30px;
  padding: 1rem;
  font-weight: bold;
  text-align: center; }

.circle {
  position: absolute;
  width: 8%;
  height: 15%;
  border-radius: 50%; }
  .circle.red {
    background: radial-gradient(ellipse at center, #ffffff29 29%, #f95a5a 100%); }
  .circle.blue {
    background: radial-gradient(ellipse at center, #ffffff29 29%, #6393c1 100%); }
  .circle.green {
    background: radial-gradient(ellipse at center, #ffffff29 29%, #2f940d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .circle .miniFont {
    font-size: 15px; }
  .circle .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 1em; }
  .circle.position0 {
    display: none; }
  .circle.position1 {
    left: 12%;
    bottom: 30%; }
  .circle.position2 {
    left: 19%;
    bottom: 45%; }
  .circle.position3 {
    left: 28%;
    top: 30%; }
  .circle.position4 {
    left: 30%;
    top: 15%; }
  .circle.position5 {
    left: 40%;
    top: 20%; }
  .circle.position6 {
    left: 50%;
    top: 30%; }
  .circle.position7 {
    left: 59%;
    top: 35%; }
  .circle.position8 {
    left: 67%;
    top: 40%; }
  .circle.position9 {
    right: 16%;
    top: 46%; }
  .circle.position10 {
    left: 44%;
    top: 46%; }
  .circle.position11 {
    left: 33%;
    bottom: 27%; }
    .circle.position11 .textDiv {
      height: 25%;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      margin: auto;
      margin-top: 55%;
      transform: translate(0%, -50%); }
  .circle.position12 {
    left: 42%;
    bottom: 23%; }
    .circle.position12 .textDiv {
      height: 25%;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      margin: auto;
      margin-top: 55%;
      transform: translate(0%, -50%); }
  .circle.position13 {
    right: 29%;
    top: 55%; }
    .circle.position13 .textDiv {
      height: 25%;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      margin: auto;
      margin-top: 55%;
      transform: translate(0%, -50%); }
  .circle.position14 {
    right: 33%;
    bottom: 16%; }
  .circle.position15 {
    right: 22.5%;
    bottom: 10.5%; }
